.content div {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  opacity: 0.8;
}

.content h3 {
  font-size: 1.75rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.content ul {
  margin: 1em 2em;
}

.content a {
  color: #3182CE;
}

.content a:hover {
  color: #2C5282;
}

