option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
  aws:elasticbeanstalk:healthreporting:system:
      ConfigDocument:
        Rules:
          Environment:
            Application:
              ApplicationRequests4xx:
                Enabled: false
            ELB:
              ELBRequests4xx:
                Enabled: false
        Version: 1
