.categories-dropdown-btn {
  border: none;
}

.categories-icon {
  height: 100%;
  width: 20px;
}

.text-format {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-group-item {
  border: none;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.list-group-item:hover {
  cursor: pointer;
  box-shadow: 0 0 -30px 0 rgba(0, 0, 0, 0.5);
  background-color: #eeeeee;
  text-decoration: none;
}

.list-container {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: none;
}

.search-control {
  height: calc(2em + .75rem + 2px);
}

.search-control:focus {
  box-shadow: 0 0 5px rgba(181, 234, 215, 1);
  border: 1px solid rgba(181, 234, 215, 1);

}

.search-button {
  background: #ced4da;
  border-left: none;
  border-color: #ced4da;
}

.search-button:hover {
  background: #b5ead7;
  border-left: none;
  border-color: #b5ead7;
}
