@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.my-navbar {
  position: relative;
  width: 100%;
  z-index: 999;
  background: black;
  border: 0;
  border-radius: 0;
  color: white;
}

.navBarLink {
  color: white;
  font-size: 16px;
}

.navBarLink:hover {
  color: #ffae00 !important;
  text-decoration: none;
}

.nav-container {
  font-family: 'Lexend Zetta';
  font-weight: 300;
  background: transparent;
  color: white;
}

.home-link {
  font-size: 16px !important;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    font-size: calc(9px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .nav-container {
    font-size: 15px;
  }
}

.navbar-toggler-icon {
  color: white;
}

.navbar .navbar-collapse {
  text-align: center;
}


.nav-container {
  display: flex;
}

.box:first-child {
  flex: 1;
  display: flex;
  text-align: start;
}

.box:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:last-child {
  flex: 1;
  display: flex;
  text-align: end;
}

.user-dropdown-link::after {
  border: none !important;
}

.user-dropdown {
  display: block;
  float: right;
}

@include media-breakpoint-down(sm) {
  .user-dropdown {
    display: block;
  }
}