.footer {
  background: #191919;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  font-family: 'Lexend Zetta';
  font-weight: 300;
  color: white;
}

.footerLink:hover {
  color: #ffae00 !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.footer p {
  margin: 0;
}

.footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  font-weight: lighter
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email {
  border-bottom: 3px solid #fff;
}

.footer ul li a {
  padding: 0 0 12px 0;
  display: block;
}

.footer a {
  color: white;
  font-weight: lighter;
}


//.footer a:hover {
//  text-decoration: none;
//  font-weight: bold;
//}


.bg-gray {
  box-shadow: 0 1px 0 #B4B3B3;
}

.inactiveLink {
  color: #78828D !important;
}

.footer-bottom {
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.75em
}

