@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.featured-heading {
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-jumbotron {
  background-size: 100% 100%;
  border-radius: 0 0 30px 30px;
  min-height: 60vh;
  position: relative;
  background: linear-gradient(#471c71, #FFAF7B);
  color: white;
}

.home-jumbotron img {
  width: auto;
  height: auto;
}

.home-jumbotron h1 {
  font-weight: 800;
  font-size: 3em;
}

.jumbotron-link {
  color: #baffc9;
  font-size: 16px;
}

.jumbotron-link:hover {
  color: #ffae00 !important;
  text-decoration: none;
}


@include media-breakpoint-up(lg) {
  .container-fluid {
    padding-left: 10em;
    padding-right: 10em;
  }

  .home-jumbotron h1 {
    font-weight: 800;
    font-size: 5em;
  }
}

@include media-breakpoint-between(md, lg) {
  .container-fluid {
    padding-left: 3em;
    padding-right: 3em;
  }

  .home-jumbotron h1 {
    font-weight: 800;
    font-size: 5em;
  }
}

@include media-breakpoint-between(sm, md) {
  .container-fluid {
    padding-left: 2em;
    padding-right: 2em;
  }

  .home-jumbotron h1 {
    font-weight: 800;
    font-size: 5em;
  }
}

.logo-container {
  height: 30vh;
  width: 30vh;
}

.logo-row {
  height: 100%;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}