.register-link {
  color: cornflowerblue;
}

.forgot-password-form {
  border: none;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
}

.form-btn {
  font-size: 1.1em;
}

.spinner-border {
  height: 1.2em;
  width: 1.2em;
}
