.content p {
  margin-bottom: 1em;
}

.content h3 {
  font-size: 1.25em;
  margin-bottom: 0.25em;
}

.content img {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: auto;
  margin-right: auto;
}
