@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.my-navbar {
  position: relative;
  width: 100%;
  z-index: 999;
  background: #191919;
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, .2);
}

.user-name {
  color: white !important;
  font-size: 16px;
}

.nav-bar-link {
  color: white !important;
  font-size: 16px;
}

.navbar-dropdown {
  background-color: #f6f6f6;
}

.dropdown-link {
  color: #191919 !important;
}

.log-reg-sep {
  color: #9b9b9b;
}

.nav-bar-link:hover {
  color: #ffae00 !important;
  text-decoration: none;
}

.nav-container {
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 300;
  background: transparent;
  color: white;
}

.home-link {
  font-size: 16px !important;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    font-size: calc(9px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .nav-container {
    font-size: 15px;
  }
}

.navbar-toggler-icon {
  color: white;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-container {
  display: flex;
}

.box:first-child {
  flex: 1;
  display: flex;
  text-align: start;
}

.box:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:last-child {
  flex: 1;
  display: flex;
  text-align: end;
}

.user-dropdown-link::after {
  border: none !important;
}

.user-dropdown {
  display: block;
  float: right;
}

@include media-breakpoint-down(sm) {
  .user-dropdown {
    display: block;
  }
}

.svg-container {
  height: 35px;
  width: 35px;
}

@include media-breakpoint-up(sm) {
  .svg-container {
    height: 45px;
    width: 45px;
  }
}