
.social-link {
  color: #000000 !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}


.social-link:hover {
  color: #ffae00 !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}